apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nestjs-k8s-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/hailsayan/bulgakov.git
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: nestjs-k8s

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true